Repository stripe/stripe-ios, pull requests merged in 2024-07, with the labels that each got.

#3736 Fix edge case for 1 PM when editing
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
Labels: ship without translations

#3758 Adds coupon support to STPApplePayContext
  CHANGELOG.md
  Stripe/StripeiOSTests/STPApplePayContextTest.swift
  StripeApplePay/StripeApplePay/Source/ApplePayContext/STPApplePayContext.swift
Labels: modifies public API

#3783 Update vertical CVC flow
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetVerticalUITest.swift
  StripeCore/StripeCoreTestUtils/XCTestCase+Stripe.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSectionWithScanner/CVCRecollectionElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/BottomSheet3DS2ViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/BottomSheetViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/CVCReconfirmationVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/CVCReconfirmationViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/LoadingViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetFlowControllerViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PollingViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PreConfirmationViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/SepaMandateViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdateCardViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/CVCRecollectionView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/PaymentSheetUIKitAdditions.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFlowControllerViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetVerticalViewControllerSnapshotTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripeUICore/StripeUICore/Source/Categories/UIViewController+StripeUICore.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetVerticalViewControllerSnapshotTest/testCVCRecollection@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetVerticalViewControllerSnapshotTest/testCVCRecollection_cvc_error@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetVerticalViewControllerSnapshotTest/testCVCRecollection_non_cvc_error@3x.png
Labels: vertical-mode

#3800 Payment Sheet: for instant debits, removed STPPaymentMethodType.instantDebits in favor of PaymentSheet.PaymentMethodType.instantDebits
  Stripe/StripeiOS/Source/STPPaymentMethod+BasicUI.swift
  Stripe/StripeiOS/Source/STPPaymentMethodParams+BasicUI.swift
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/IntentConfirmParams.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentOption+Images.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/InstantDebitsPaymentMethodElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePayments/StripePayments/Resources/Localizations/en.lproj/Localizable.strings
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethodEnums.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethodParams.swift
  StripePayments/StripePayments/Source/Categories/Enums+CustomStringConvertible.swift
  StripePayments/StripePayments/Source/PaymentHandler/STPPaymentHandler.swift
Labels: modifies public API

#3724 Egeniesse/add sunbit
  CHANGELOG.md
  Example/Non-Card Payment Examples/Non-Card Payment Examples.xcodeproj/project.pbxproj
  Example/Non-Card Payment Examples/Non-Card Payment Examples/BrowseExamplesViewController.m
  Example/Non-Card Payment Examples/Non-Card Payment Examples/SunbitExampleViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  Stripe/Stripe.xcodeproj/project.pbxproj
  Stripe/StripeiOS/Source/STPPaymentMethod+BasicUI.swift
  Stripe/StripeiOS/Source/STPPaymentMethodParams+BasicUI.swift
  Stripe/StripeiOSTests/STPPaymentIntentFunctionalTest.swift
  Stripe/StripeiOSTests/STPPaymentMethodFunctionalTest.swift
  Stripe/StripeiOSTests/STPPaymentMethodSunbitTests.swift
  StripePaymentSheet/StripePaymentSheet/Resources/JSON/form_specs.json
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLPMConfirmFlowTests.swift
  StripePayments/StripePayments.xcodeproj/project.pbxproj
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethod.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethodEnums.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethodParams.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/Types/STPPaymentMethodSunbit.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/Types/STPPaymentMethodSunbitParams.swift
  StripePayments/StripePayments/Source/Categories/Enums+CustomStringConvertible.swift
  StripePayments/StripePayments/Source/PaymentHandler/STPPaymentHandler.swift
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0000_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0001_get_v1_payment_intents_pi_3Pgvu8Goesj9fw9Q0IOK5vPe.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0002_post_v1_payment_intents_pi_3Pgvu8Goesj9fw9Q0IOK5vPe_confirm.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0003_get_v1_payment_intents_pi_3Pgvu8Goesj9fw9Q0IOK5vPe.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0004_post_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0005_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0006_get_v1_payment_intents_pi_3PgvuAGoesj9fw9Q0HWarpDa.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0007_post_v1_payment_intents_pi_3PgvuAGoesj9fw9Q0HWarpDa_confirm.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0008_get_v1_payment_intents_pi_3PgvuAGoesj9fw9Q0HWarpDa.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0009_post_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0010_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0011_get_v1_payment_intents_pi_3PgvuDGoesj9fw9Q1rBUIspY.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLPMConfirmFlowTests/testSunbitConfirmFlows/0012_get_v1_payment_intents_pi_3PgvuDGoesj9fw9Q1rBUIspY.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentIntentFunctionalTest/testConfirmPaymentIntentWithSunbit/0000_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentIntentFunctionalTest/testConfirmPaymentIntentWithSunbit/0001_post_v1_payment_intents_pi_3PePOhKG6vc7r7YC1Pw6dbvN_confirm.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentMethodFunctionalTest/testCreateSunbitPaymentMethod/0000_post_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentMethodSunbitPayTests/testObjectDecoding/0000_get_v1_payment_intents_pi_3NqgBBGoesj9fw9Q1TkY7iBp.tail
  StripePayments/StripePaymentsTestUtils/STPTestingAPIClient+Swift.swift
Labels: modifies public API

#3860 Reduce delay when selecting new saved PM in vertical mode
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
Labels: vertical-mode

#3859 Put Apple Pay and Link after card in the list, or first if no card.
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/VerticalPaymentMethodListViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/VerticalPaymentMethodListViewControllerTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetVerticalViewControllerSnapshotTest/testDisplaysList_card_applepay_flowcontroller@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetVerticalViewControllerSnapshotTest/testDisplaysList_card_link_applepay_flowcontroller@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testSavedCard_ApplePayLink@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testSavedCard_noApplePayLink@3x.png
Labels: vertical-mode
