Repository stripe/stripe-ios, pull requests merged in 2024-11, with the labels that each got.

#4204 SPM for embedded payment element
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripeConnect/StripeConnect.xcodeproj/xcshareddata/xcschemes/StripeConnect.xcscheme
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/SavedPaymentMethodManager.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsCollectionViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/VerticalPaymentMethodListViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdateCardViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
  StripePaymentsUI/StripePaymentsUI/Source/Internal/UI/Elements/DropDownFieldElement+CardBrand.swift
Labels: skip dead code check, embedded

#4205 Add internal "Native Link" switch
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView-Header.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
Labels: skip dead code check

#4232 Present forms in embedded
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedFormViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
Labels: skip dead code check, embedded

#4242 Confirm payments in embedded
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkWebController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Utils/LinkURLGenerator.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PayWithLinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+DeferredAPI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPApplePayContext+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPPaymentIntentShippingDetailsParams+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/CVCReconfirmationViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4256 Fix setting default payment method in embedded
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
Labels: embedded

#4261 Fix padding for view more/edit button in floating style
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_savedPaymentMethod@3x.png
Labels: embedded

#4249 Embedded confirm tests
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4218 Link v3: Fix Billing Address Collection and a few other TODOs
  Stripe/StripeiOSTests/STPPaymentMethodBillingDetailsTests+Link.swift
  StripeCore/StripeCore/Source/Connections Bindings/BillingAddress.swift
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/PaymentDetails.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker-CellContentView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-NewPaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/LinkCardEditElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/ConfirmButton+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/LinkUI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PaymentSheet-LinkConfirmOption.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+Link.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkCardEditElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/PayWithLinkViewController-WalletViewModelTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/LinkStubs.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLinkAccountTests.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethodBillingDetails.swift
  StripePaymentsUI/StripePaymentsUI/Source/Internal/UI/Views/CardBrandView.swift
  StripeUICore/StripeUICore/Source/Elements/Factories/Address/AddressSectionElement.swift
  StripeUICore/StripeUICoreTests/Unit/Elements/AddressSectionElementTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testExpanded@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testNormal_First_Option@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testNormal_Second_Option@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testUnsupportedBankAccount@3x.png
Labels: skip dead code check

#4227 Link v3: Add support for 2FA Modal and FlowController 
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-UpdatePaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/LinkCardEditElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/Intent+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PayWithLinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PayWithNativeLinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/New Payment Method Screen/AddPaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkCardEditElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/PayWithLinkViewController-WalletViewModelTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+APITest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+DashboardConfirmParamsTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetExternalPaymentMethodTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetGDPRConfirmFlowTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLPMConfirmFlowTests.swift
  StripePayments/StripePayments/Source/API Bindings/Models/Shared/LinkSettings.swift
Labels: skip dead code check

#4260 Added cvc and expiry to UpdateCardViewController
  Example/PaymentSheet Example/PaymentSheetUITest/CustomerSheetUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetLPMUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetVerticalUITest.swift
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/TextField/TextFieldElement+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdateCardViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/TextFieldElement+CardTest.swift
  StripePaymentsUI/StripePaymentsUI/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentsUI/StripePaymentsUI/Source/Helpers/String+Localized.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdateCardViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdateCardViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdateCardViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdateCardViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdateCardViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdateCardViewControllerLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdateCardViewControllerSnapshotTests/test_UpdateCardViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdateCardViewControllerSnapshotTests/test_UpdateCardViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdateCardViewControllerSnapshotTests/test_UpdateCardViewControllerLightMode@3x.png
Labels: ship without translations

#4283 Fix when selecting a saved payment method
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
Labels: embedded

#4288 Selecting a new saved payment method bug fix
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/VerticalPaymentMethodListViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
Labels: embedded

#4295 Add some Hash tests
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/VerticalPaymentMethodListViewControllerTest.swift
Labels: embedded

#4279 Add flat with checkmark style
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/PaymentSheet/icon_check.imageset/Contents.json
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/PaymentSheet/icon_check.imageset/icon-check.svg
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/Images.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RightAccessoryButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodRowButtonSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/RightAccessoryButtonTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_borderWidth@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_componentBackgroundColor@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_cornerRadius@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_largeFont@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_noApplePay@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_noLink@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_rowHeightSingleLine@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_savedPaymentMethod@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_selectedBorder@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_smallFont@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_spacing@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testPaymentMethodRowButton_ignoresEmbeddedConfiguration@3x.png
Labels: embedded

#4280 Extend UpdateCardViewController to bank accounts and sepa debit
  Example/PaymentSheet Example/PaymentSheetUITest/CustomerSheetUITest.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsCollectionViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/TextField/TextFieldElement+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/TextField/TextFieldElement+IBAN.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/TextField/TextFieldElement+USBankAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentMethodCollectionView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/SavedPaymentMethodFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdateCardViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/CircularButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/UpdateCardViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/UpdatePaymentMethodViewControllerSnapshotTests.swift
  StripeUICore/StripeUICore/Source/Elements/ElementsUI.swift
  StripeUICore/StripeUICore/Source/Elements/Factories/TextFieldElement+Factory.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdatePaymentMethodViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdatePaymentMethodViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdatePaymentMethodViewControllerLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleSEPADebit_UpdatePaymentMethodViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleSEPADebit_UpdatePaymentMethodViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleSEPADebit_UpdatePaymentMethodViewControllerLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleUSBankAccount_UpdatePaymentMethodViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleUSBankAccount_UpdatePaymentMethodViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleUSBankAccount_UpdatePaymentMethodViewControllerLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerExpiredCard@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerRemoveOnlyCard@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerSEPADebitAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerSEPADebitDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerSEPADebitLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerUSBankAccountAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerUSBankAccountDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerUSBankAccountLightMode@3x.png
Labels: ship without translations

#4296 Add crypto payment method
  CHANGELOG.md
  Example/Non-Card Payment Examples/Non-Card Payment Examples.xcodeproj/project.pbxproj
  Example/Non-Card Payment Examples/Non-Card Payment Examples/BrowseExamplesViewController.m
  Example/Non-Card Payment Examples/Non-Card Payment Examples/CryptoExampleViewController.swift
  Stripe/Stripe.xcodeproj/project.pbxproj
  Stripe/StripeiOSTests/STPPaymentIntentFunctionalTest.swift
  Stripe/StripeiOSTests/STPPaymentMethodCryptoParamsTests.swift
  Stripe/StripeiOSTests/STPPaymentMethodCryptoTests.swift
  Stripe/StripeiOSTests/STPPaymentMethodFunctionalTest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePayments/StripePayments.xcodeproj/project.pbxproj
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethod.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethodEnums.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethodParams.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/Types/STPPaymentMethodCrypto.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/Types/STPPaymentMethodCryptoParams.swift
  StripePayments/StripePayments/Source/Categories/Enums+CustomStringConvertible.swift
  StripePayments/StripePayments/Source/PaymentHandler/STPPaymentHandler.swift
  StripePayments/StripePaymentsObjcTestUtils/Resources/Mock Files/CryptoPaymentMethod.json
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentIntentFunctionalTest/testConfirmPaymentIntentWithCrypto/0000_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentIntentFunctionalTest/testConfirmPaymentIntentWithCrypto/0001_post_v1_payment_intents_pi_3QNigpFY0qyl6XeW0hHlAmk2_confirm.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentMethodFunctionalTest/testCreateCryptoPaymentMethod/0000_post_v1_payment_methods.tail
Labels: modifies public API, skip dead code check
