Repository stripe/stripe-ios, pull requests merged in 2024-10, with the labels that each got.

#4070 [BANKCON-15001] Add telemetry fields to `/share` and `/payment_methods` API calls
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
Labels: skip dead code check

#4036 [Connect] Fix API inconsistent naming + Add Dashboard-only support for Account Management component
  StripeConnect/StripeConnect.xcodeproj/project.pbxproj
  StripeConnect/StripeConnect/Source/Components/AccountManagementViewController.swift
  StripeConnect/StripeConnect/Source/Components/ComponentType.swift
  StripeConnect/StripeConnect/Source/Components/PaymentDetailsViewController.swift
  StripeConnect/StripeConnect/Source/Components/PayoutsViewController.swift
  StripeConnect/StripeConnect/Source/EmbeddedComponentManager.swift
  StripeConnect/StripeConnectTests/Components/AccountManagementViewControllerTests.swift
  StripeConnect/StripeConnectTests/Components/PaymentDetailsViewControllerTests.swift
  StripeConnect/StripeConnectTests/Components/PayoutsViewControllerTests.swift
Labels: skip dead code check

#4086 [Connect] Enable file downloads
  Example/StripeConnectExample/StripeConnect Example.xcodeproj/project.pbxproj
  Example/StripeConnectExample/StripeConnectExample/API/API.swift
  Example/StripeConnectExample/StripeConnectExample/Base.lproj/LaunchScreen.storyboard
  StripeConnect/StripeConnect.xcodeproj/project.pbxproj
  StripeConnect/StripeConnect/Source/Internal/StripeConnectConstants.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/ConnectWebView.swift
  StripeConnect/StripeConnectTests/Internal/Webview/ConnectWebViewTests.swift
Labels: skip dead code check

#4061 [Connect] Add Dashboard-only access to NotificationBanner
  StripeConnect/StripeConnect.xcodeproj/project.pbxproj
  StripeConnect/StripeConnect/Source/Components/ComponentType.swift
  StripeConnect/StripeConnect/Source/Components/NotificationBannerViewController.swift
  StripeConnect/StripeConnect/Source/EmbeddedComponentManager.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/MessageHandlers/NotificationBanner/OnNotificationsChangeHandler.swift
  StripeConnect/StripeConnect/Source/Models/AccountCollectionOptions.swift
  StripeConnect/StripeConnectTests/Components/NotificationBannerViewControllerTests.swift
  StripeConnect/StripeConnectTests/Internal/Webview/MessageHandlers/NotificationBanner/OnNotificationsChangeHandlerTests.swift
Labels: skip dead code check

#4096 Embedded mandates
  Example/PaymentSheet Example/PaymentSheet Example/AppearancePlaygroundView.swift
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Stripe/StripeiOSTests/HostedSurfaceTest.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkInlineSignupElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/ViewModels/LinkInlineSignupViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedMandateContainerView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/MandateTextProvider.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/IntentConfirmParams.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactoryConfig.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/VerticalPaymentMethodListViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/FormMandateProviderTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodFormViewControllerTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_withMandateProviderAttributedText@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_noInitialSelection@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_savedPaymentMethod@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_withInitialSelection@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_withInitialSelection_withAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderEmptyAttributedText@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderLongAttributedText@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderNilAttributedText@3x.png
Labels: embedded

#4109 Update mandate configuration api
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/MandateTextProvider.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/FormMandateProviderTests.swift
Labels: embedded

#4104 Notify embedded delegate when selection is made
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/MandateTextProvider.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_shouldShowMandateFalse@3x.png
Labels: embedded

#4112 Fix embedded radio inset
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_bottomSeparatorDisabled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_colorSelected@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_colorUnselected@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_componentBackgroundColor@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_initialApplePay@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_initialLink@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_initialSavedCard@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_largeFont@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_noApplePay@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_noLink@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_rowHeightSingleLine@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_savedPaymentMethod@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_separatorColor@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_separatorInset@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_separatorThickness@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_smallFont@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_topSeparatorDisabled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_savedPaymentMethod@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_noInitialSelection@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_savedPaymentMethod@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_withInitialSelection@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_withInitialSelection_withAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderEmptyAttributedText@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderLongAttributedText@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderNilAttributedText@3x.png
Labels: embedded

#4099 [Connect] Don't preview downloads + better error handling
  StripeConnect/StripeConnect/Source/Internal/Webview/ConnectWebView.swift
  StripeConnect/StripeConnectTests/Internal/Webview/ConnectWebViewTests.swift
Labels: skip dead code check

#4118 [BANKCON-11801] Pass amount, currency, and intent ID to Link signup endpoint
  StripeCore/StripeCore/Source/Connections Bindings/ElementsSessionContext.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkLogin/LinkLoginDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowController.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/EmptyFinancialConnectionsAPIClient.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
Labels: skip dead code check

#4130 Refactor EmbeddedPaymentElement internals, make it @MainActor
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementDelegate.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
Labels: skip dead code check, embedded

#4135 Fix bad height in playground view for embedded
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
Labels: embedded

#4124 Card Brand Filtering in PAN field and saved PMs
  Example/PaymentSheet Example/PaymentSheet Example-Shard1.xctestplan
  Example/PaymentSheet Example/PaymentSheet Example-Shard2.xctestplan
  Example/PaymentSheet Example/PaymentSheet Example-Shard3.xctestplan
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  StripeCore/StripeCore/Source/Analytics/STPAnalyticEvent.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CardBrandFilter.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsCollectionViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/TextField/TextFieldElement+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactoryConfig.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetLoader.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdateCardViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/CardBrandFilterTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLoaderTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/TextFieldElement+CardTest.swift
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPaymentSheetLoadFiltersCardBrandAcceptance/0000_post_create_ephemeral_key.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPaymentSheetLoadFiltersCardBrandAcceptance/0001_get_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPaymentSheetLoadFiltersCardBrandAcceptance/0002_get_v1_elements_sessions.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPaymentSheetLoadFiltersCardBrandAcceptance/0003_get_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPaymentSheetLoadFiltersCardBrandAcceptance/0004_get_v1_customers_cus_OtOGvD0ZVacBoj.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPaymentSheetLoadFiltersCardBrandAcceptance/0005_get_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPaymentSheetLoadFiltersCardBrandAcceptance/0006_get_v1_payment_methods.tail
  StripePaymentsUI/StripePaymentsUI/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentsUI/StripePaymentsUI/Source/Helpers/String+Localized.swift
Labels: ship without translations

#4138 [Connect] Add error handling, default disable swipe-to-dismiss, and refactor web views into view controllers
  Example/StripeConnectExample/StripeConnectExample/MainViewController.swift
  Stripe.xcworkspace/contents.xcworkspacedata
  StripeConnect/StripeConnect.xcodeproj/project.pbxproj
  StripeConnect/StripeConnect/Source/Components/AccountManagementViewController.swift
  StripeConnect/StripeConnect/Source/Components/AccountOnboardingViewController.swift
  StripeConnect/StripeConnect/Source/Components/NotificationBannerViewController.swift
  StripeConnect/StripeConnect/Source/Components/PaymentDetailsViewController.swift
  StripeConnect/StripeConnect/Source/Components/PayoutsViewController.swift
  StripeConnect/StripeConnect/Source/EmbeddedComponentManager.swift
  StripeConnect/StripeConnect/Source/Internal/Extensions/HTTPURLResponse+StripeConnect.swift
  StripeConnect/StripeConnect/Source/Internal/Extensions/UIViewController+StripeConnect.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/ConnectComponentWebViewController.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/ConnectWebViewController.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/HTTPStatusError.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/PopupWebViewController.swift
  StripeConnect/StripeConnectTests/Components/AccountManagementViewControllerTests.swift
  StripeConnect/StripeConnectTests/Components/AccountOnboardingViewControllerTests.swift
  StripeConnect/StripeConnectTests/Components/NotificationBannerViewControllerTests.swift
  StripeConnect/StripeConnectTests/Components/PaymentDetailsViewControllerTests.swift
  StripeConnect/StripeConnectTests/Components/PayoutsViewControllerTests.swift
  StripeConnect/StripeConnectTests/Helpers/TestHelpers.swift
  StripeConnect/StripeConnectTests/Internal/Webview/ConnectComponentWebViewControllerTests.swift
  StripeConnect/StripeConnectTests/Internal/Webview/ConnectComponentWebViewTests.swift
  StripeConnect/StripeConnectTests/Internal/Webview/ConnectWebViewControllerTests.swift
  StripeConnect/StripeConnectTests/Internal/Webview/MessageHandlers/OnLoaderStartMessageHandlerTests.swift
  StripeConnect/StripeConnectTests/WebView+Tests.swift
Labels: skip dead code check

#4156 Make `PaymentSheet.Configuration.paymentMethodLayout` public
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetSnapshotTests.swift
Labels: modifies public API, vertical-mode

#4167 Add EmbeddedFormViewController
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedFormViewControllerSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testBillingCollectionConfiguration@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testDisabledState@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testDisplayCard_confirmFormSheetAction@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testDisplayCard_continueFormSheetAction@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testDisplaysError@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testDisplaysErrorAndMandate@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testMandateView@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedFormViewControllerSnapshotTests/testRestoresPreviousCustomerInput@3x.png
Labels: skip dead code check

#4131 Filter card brands in Apple Pay and CBC
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CardBrandFilter.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheetDataSource.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/TextField/TextFieldElement+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetLoader.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPApplePayContext+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPCardValidator+BrandFiltering.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdateCardViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/CustomerSheet/CustomerSheetTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPApplePayContext+PaymentSheetTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPCardValidator+BrandFilteringTest.swift
Labels: card brand filtering

#4168 Embedded update pt 3
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/DownloadManager.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/MandateTextProvider.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/SimpleMandateTextView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4174 Make embedded confirm handle in-flight and failed update calls.
  Example/PaymentSheet Example/PaymentSheetUITest/XCUITest+Utilities.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4162 [BANKCON-15710] Support requested billing address fields in Instant Debits bank tab
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/InstantDebitsPaymentMethodElement.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFormFactoryTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetPaymentMethodTypeTest.swift
Labels: skip dead code check

#4177 Misc. update fixes
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementContainerView.swift
Labels: embedded

#4180 Add mandate view and payment option to embedded example
  Example/PaymentSheet Example/PaymentSheet Example/ExampleEmbeddedElementCheckoutViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/Resources/Base.lproj/Main.storyboard
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
Labels: embedded

#4153 Link v3: Reintroduce bindings and data models
  Stripe/StripeiOSTests/PayWithLinkButtonSnapshotTests.swift
  StripeCore/StripeCore/Source/Analytics/STPAnalyticEvent.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession+PublishableKey.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/CookieStore/LinkCookieStore.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/CookieStore/LinkInMemoryCookieStore.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/CookieStore/LinkSecureCookieStore.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/PaymentDetails.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/NavigationBar/LinkNavigationBar.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/Intent+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/STPAnalyticsClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Services/LinkAccountService.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkCookieKey.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkUtils.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PaymentSheet-LinkConfirmOption.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/ConfirmButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/PayWithLinkButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/LinkStubs.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLinkAccountTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testWithEmailAddress@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testWithLongEmailAddress@3x.png
Labels: skip dead code check

#4189 Fix embedded update preserving invalid paymentoption
  Example/PaymentSheet Example/PaymentSheet Example-Shard1.xctestplan
  Example/PaymentSheet Example/PaymentSheet Example-Shard2.xctestplan
  Example/PaymentSheet Example/PaymentSheet Example-Shard3.xctestplan
  Example/PaymentSheet Example/PaymentSheet Example.xcodeproj/project.pbxproj
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
Labels: embedded

#4158 Link v3: Add components for card editing and verification
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker-AddButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker-Cell.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker-CellContentView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker-Header.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker-RadioButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/LinkCardEditElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView-Header.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView-LogoutView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationViewController-PresentationController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/BottomSheet/BottomSheetPresentationController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkCardEditElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkPaymentMethodPickerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkVerificationViewSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkCardEditElementSnapshotTests/testDefault@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkCardEditElementSnapshotTests/testNonDefault@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testEmpty@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testExpanded@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testNormal_First_Option@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testNormal_Second_Option@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testUnsupportedBankAccount@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testEmbedded@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testInlineLogin@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testModal@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testModalWithErrorMessage@3x.png
Labels: skip dead code check

#4191 Add another test to ensure embedded confirm fails if last update failed
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4148 [BANKCON-15711] Pass billing address and email address to payment details API
  StripeCore/StripeCore.xcodeproj/project.pbxproj
  StripeCore/StripeCore/Source/Connections Bindings/BillingAddress.swift
  StripeCore/StripeCore/Source/Connections Bindings/ElementsSessionContext.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowDataManager.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/EmptyFinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FinancialConnectionsAPIClientTests.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/InstantDebitsPaymentMethodElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFormFactoryTest.swift
Labels: skip dead code check

#4165 Link v3: Re-add PayWithLinkViewController
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-BaseViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-LoaderViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-NewPaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-UpdatePaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-VerifyAccountViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-WalletViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-WalletViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/PaymentSheet-Configuration+Link.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/PayWithLinkViewController-WalletViewModelTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/LinkStubs.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testExpanded@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testUnsupportedBankAccount@3x.png
Labels: skip dead code check

#4198 [BANKCON-15711] Pass billing details to `/payment_methods` and `/share` endpoints
  StripeCore/StripeCore.xcodeproj/project.pbxproj
  StripeCore/StripeCore/Source/Connections Bindings/BillingAddress.swift
  StripeCore/StripeCore/Source/Connections Bindings/ElementsSessionContext.swift
  StripeCore/StripeCore/Source/Helpers/KeyedEncodingContainer+Extensions.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowDataManager.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/EmptyFinancialConnectionsAPIClient.swift
Labels: skip dead code check

#4192 Fix Embedded example not updating mandate properly
  Example/PaymentSheet Example/PaymentSheet Example/ExampleEmbeddedElementCheckoutViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/Resources/Base.lproj/Main.storyboard
Labels: embedded

#4194 Fix embedded mandate padding
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedMandateContainerView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_withMandateProviderAttributedText@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_noInitialSelection@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_savedPaymentMethod@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_withInitialSelection@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_withInitialSelection_withAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderLongAttributedText@3x.png
Labels: embedded
