Repository stripe/stripe-ios, pull requests merged in 2024-12, with the labels that each got.

#4339 Add clear payment option API
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4338 Add initial StripeAttest code
  StripeCore/StripeCore.xcodeproj/project.pbxproj
  StripeCore/StripeCore/Source/Analytics/STPAnalyticEvent.swift
  StripeCore/StripeCore/Source/Attestation/AppAttestService.swift
  StripeCore/StripeCore/Source/Attestation/StripeAttest.swift
  StripeCore/StripeCore/Source/Attestation/StripeAttestBackend.swift
  StripeCore/StripeCoreTests/Attestation/MockAppAttestService.swift
  StripeCore/StripeCoreTests/Attestation/StripeAttestTest.swift
  modules.yaml
Labels: skip dead code check

#4340 Update embedded playground w/ bug bash feedback
  Example/PaymentSheet Example/PaymentSheet Example/AppearancePlaygroundView.swift
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/ExampleEmbeddedElementCheckoutViewController.swift
Labels: embedded

#4336 Only card brand can be changed label
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewModel.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdatePaymentMethodViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdatePaymentMethodViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_EmbeddedSingleCard_UpdatePaymentMethodViewControllerLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerLightMode@3x.png
Labels: ship without translations

#4341 Add debug functions to help integrators test grow/shrinking of view
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
Labels: embedded

#4345 Disable embedded after a successful confirmation
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetError.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4347 Show selection behind sheet
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
Labels: embedded

#4351 Verify integration on public APIs
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4317 Add promo disclaimer in Instant Debits form
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerAddPaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/InstantDebitsPaymentMethodElement.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/CustomerSheet/CustomerSheet_ConfirmFlowTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/Resources/MockFiles/elements_sessions_paymentMethod_200.json
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetSnapshotTests/testPaymentSheet_LPM_InstantDebits_only_promotion@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testDarkMode@3x.png
Labels: ship without translations

#4322 Pass incentive information to IBP flow
  StripeCore/StripeCore/Source/Connections Bindings/ElementsSessionContext.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkLogin/LinkLoginDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Web/FinancialConnectionsWebFlowViewController.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/EmptyFinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FinancialConnectionsWebFlowTests.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkPaymentController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/InstantDebitsPaymentMethodElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
Labels: skip dead code check

#4416 Default Embedded formSheetAction property as `.continue`
  Example/PaymentSheet Example/PaymentSheet Example/ExampleEmbeddedElementCheckoutViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedFormViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/FormMandateProviderTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsHelperTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
Labels: embedded

#4363 Show promo badge in bank form element
  Example/PaymentSheet Example/PaymentSheetUITest/CustomerSheetUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetLPMUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetVerticalUITest.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/STPPaymentMethod+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/IntentConfirmParams.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/New Payment Method Screen/PaymentMethodTypeCollectionView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/BankAccountInfoView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/InstantDebitsPaymentMethodElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/USBankAccount/USBankAccountPaymentMethodElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/PromoBadgeView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/BankAccountInfoViewSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.BankAccountInfoViewSnapshotTests/test_eligibleForPromo@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.BankAccountInfoViewSnapshotTests/test_eligibleForPromo_longName@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.BankAccountInfoViewSnapshotTests/test_ineligibleForPromo@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.BankAccountInfoViewSnapshotTests/test_noPromoBadge@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetFlowControllerViewControllerSnapshotTests/testSavedScreen_SEPA_debit@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetFlowControllerViewControllerSnapshotTests/testSavedScreen_customCTA@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetFlowControllerViewControllerSnapshotTests/testSavedScreen_us_bank_account@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetVerticalViewControllerSnapshotTest/testDisplaysMandateBelowList_saved_sepa_debit@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetVerticalViewControllerSnapshotTest/testDisplaysMandateBelowList_saved_us_bank_account@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetViewControllerSnapshotTests/testSavedScreen_SEPA_debit@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetViewControllerSnapshotTests/testSavedScreen_us_bank_account@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.SavedPaymentOptionsViewControllerSnapshotTests/test_all_saved_pms_and_apple_pay_and_link@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.SavedPaymentOptionsViewControllerSnapshotTests/test_all_saved_pms_and_apple_pay_and_link_custom_appearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.SavedPaymentOptionsViewControllerSnapshotTests/test_all_saved_pms_and_apple_pay_and_link_dark@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalSavedPaymentMethodsViewControllerSnapshotTests/test_Embedded_VerticalSavedPaymentMethodsViewControllerSnapshotTestsAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalSavedPaymentMethodsViewControllerSnapshotTests/test_Embedded_VerticalSavedPaymentMethodsViewControllerSnapshotTestsLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalSavedPaymentMethodsViewControllerSnapshotTests/test_Embedded_VerticalSavedPaymentOptionsViewControllerSnapshotTestsDarkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalSavedPaymentMethodsViewControllerSnapshotTests/test_VerticalSavedPaymentMethodsViewControllerSnapshotTestsAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalSavedPaymentMethodsViewControllerSnapshotTests/test_VerticalSavedPaymentMethodsViewControllerSnapshotTestsLightMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalSavedPaymentMethodsViewControllerSnapshotTests/test_VerticalSavedPaymentOptionsViewControllerSnapshotTestsDarkMode@3x.png
Labels: ship without translations

#4379 Update StripeConnect's FinancialConnections integration to work with public key override.
  StripeConnect/StripeConnect.xcodeproj/project.pbxproj
  StripeConnect/StripeConnect/Source/Internal/FinancialConnectionsPresenter.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/ConnectComponentWebViewController.swift
  StripeConnect/StripeConnectTests/Internal/FinancialConnectionsPresenterTests.swift
  StripeConnect/StripeConnectTests/Internal/Webview/ConnectComponentWebViewControllerTests.swift
Labels: skip dead code check
