Repository stripe/stripe-ios, pull requests merged in 2025-07, with the labels that each got.

#5166 Add ability to customize embedded payment element payment method icon…
  CHANGELOG.md
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButtonFlatWithCheckmark.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButtonFlatWithChevron.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButtonFlatWithRadioView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButtonFloating.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodRowButtonSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testEmbeddedPaymentMethodIconLayoutMargins_flatWithCheckmark_0_left_padding_30_right_padding@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testEmbeddedPaymentMethodIconLayoutMargins_flatWithChevron_0_left_padding_30_right_padding@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testEmbeddedPaymentMethodIconLayoutMargins_flatWithRadio_0_left_padding_30_right_padding@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testEmbeddedPaymentMethodIconLayoutMargins_floatingButton_0_left_padding_30_right_padding@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testEmbeddedPaymentMethodIconLayoutMargins_non_embedded_unaffected@3x.png
Labels: modifies public API, embedded

#5139 Extract Link signup controller from PayWithLinkViewController
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/SignUp/LinkSignUpViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/SignUp/LinkSignUpViewModel.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkSignUpViewControllerSnapshotTests.swift
Labels: skip dead code check

#5150 SwiftUI support for AddressElement
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheet Example.xcodeproj/project.pbxproj
  Example/PaymentSheet Example/PaymentSheet Example/AddressElementExample.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetExampleAppRootView.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheet+AddressTests.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/AddressViewController/AddressViewController+SwiftUI.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/AddressViewControllerRepresentableSnapshotTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.AddressElementRepresentableSnapshotTest/testAddressElementViewWithCompletionHandler__address_element_default@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.AddressElementRepresentableSnapshotTest/testAddressElementViewWithCompletionHandler__address_element_prepopulated@3x.png
Labels: modifies public API, skip dead code check

#5169 Add ability to customize embedded payment element row button title font
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheet Example.xcodeproj/project.pbxproj
  Example/PaymentSheet Example/PaymentSheet Example/AppearancePlaygroundView+EmbeddedPaymentElement.swift
  Example/PaymentSheet Example/PaymentSheet Example/AppearancePlaygroundView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodRowButtonSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithCheckmark_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithDisclosure_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithRadio_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_floatingButton_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_non_embedded_unaffected@3x.png
Labels: modifies public API

#5184 Tweak when Embedded didUpdateHeight is called
  CHANGELOG.md
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
Labels: embedded

#5211 Add customizable embedded row subtitle font
  CHANGELOG.md
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodRowButtonSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_flatWithCheckmark_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_flatWithDisclosure_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_flatWithRadio_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_floatingButton_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_non_embedded_unaffected@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithCheckmark_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithDisclosure_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithRadio_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_floatingButton_custom_italic_title_font@3x.png
Labels: embedded

#5225 Add `merchant_logo_url` to elements/session model
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPElementsSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/WalletButtonsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPElementsSessionTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/WalletButtonsViewTests.swift
Labels: skip dead code check

#5179 Show payment method preview in Link inline verification view
  Stripe/StripeiOSTests/ConsumerSessionTests.swift
  Stripe/StripeiOSTests/LinkInlineSignupElementSnapshotTests.swift
  Stripe/StripeiOSTests/LinkSignupViewModelTests.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession+PublishableKey.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Services/LinkAccountService.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/LinkInlineVerificationView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/LinkInlineVerificationViewModel.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkInlineVerificationViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkSignUpViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/PayWithLinkViewController-WalletViewModelTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+APIMockTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsExperimentsTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFlowControllerTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFormFactoryTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLinkAccountTests.swift
  StripePayments/StripePayments/Source/API Bindings/Models/Shared/LinkSettings.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkInlineVerificationViewSnapshotTests/testLinkInlineVerificationView_NoPaymentMethodPreview@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkInlineVerificationViewSnapshotTests/testLinkInlineVerificationView_WithBankPaymentMethodPreview@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkInlineVerificationViewSnapshotTests/testLinkInlineVerificationView_WithVisaPaymentMethodPreview@3x.png
Labels: skip dead code check

#5236 Rename flat_with_chevron analytic value to flat_with_disclosure
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPAnalyticsClient+PaymentSheet.swift
Labels: embedded
