Repository stripe/stripe-ios, pull requests merged in 2025-08, with the labels that each got.

#5246 Update copy on Link signup screen
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/SignUp/LinkSignUpViewController.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkSignUpViewControllerSnapshotTests/testEmptyViewAndReturnError_@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkSignUpViewControllerSnapshotTests/testWithEmailAndReturnError_@3x.png
Labels: ship without translations

#5248 Add signup opt-in toggle for Link
  Stripe/StripeiOSTests/LinkInlineSignupElementSnapshotTests.swift
  Stripe/StripeiOSTests/LinkSignupViewModelTests.swift
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPElementsSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-NewPaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkInlineSignupElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkInlineSignupView-CheckboxElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkInlineSignupView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/SignUp/LinkSignUpViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/ViewModels/LinkInlineSignupViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Views/LinkLegalTermsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/SimpleMandateElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PaymentSheet-LinkConfirmOption.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Mandates.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/SimpleMandateTextView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+PaymentMethodAvailabilityTest.swift
Labels: ship without translations

#5252 Add PassiveCaptcha to STPElementsSession
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/PassiveCaptcha.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPElementsSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/WalletButtonsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPElementsSessionTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/WalletButtonsViewTests.swift
Labels: skip dead code check

#5257 Crypto Onramp SDK: KYC Collection API
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/IdType.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/KycInfo.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/Credentials.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/CustomerRequest.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/KYCDataCollectionRequest.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/KYCDataCollectionResponse.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/STPAPIClient+CryptoOnramp.swift
  StripeCryptoOnramp/StripeCryptoOnrampTests/Unit/STPAPIClient+CryptoOnrampTests.swift
Labels: Crypto Onramp SDK

#5258 Crypto Onramp SDK: Start Identity Verification API
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/IdentityVerificationResult.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/STPAPIClient+CryptoOnramp.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/StartIdentityVerificationRequest.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/StartIdentityVerificationResponse.swift
  StripeCryptoOnramp/StripeCryptoOnrampTests/Unit/STPAPIClient+CryptoOnrampTests.swift
Labels: Crypto Onramp SDK

#5244 Implement terms optionality for cards only
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactoryConfig.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPAnalyticsClient+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFormFactoryTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetSnapshotTests/testPaymentSheet_disableTerms_deferredIntent@3x.png
Labels: modifies public API

#5268 Add `collectWalletAddress` API to CryptoOnrampCoordinator
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoNetwork.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/RegisterWalletRequest.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/RegisterWalletResponse.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/STPAPIClient+CryptoOnramp.swift
  StripeCryptoOnramp/StripeCryptoOnrampTests/Unit/STPAPIClient+CryptoOnrampTests.swift
Labels: Crypto Onramp SDK

#5272 Crypto Onramp SDK: Identity Verification Flow
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/RegistrationView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/UI Helpers/SuccessView.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
Labels: Crypto Onramp SDK

#5259 Rearrange email/phone fields into billing details
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetBillingCollectionUITests.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-UpdatePaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/LinkPaymentMethodFormElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkPaymentMethodFormElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFormFactory+CardEmailPhoneFieldsTest.swift
  StripePaymentsUI/StripePaymentsUI/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentsUI/StripePaymentsUI/Source/Helpers/String+Localized.swift
  StripeUICore/StripeUICore/Source/Elements/Factories/Address/AddressSectionElement.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.CustomerSheetSnapshotTests/testBillingDetailsCollection_0010@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.CustomerSheetSnapshotTests/testBillingDetailsCollection_2222@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.CustomerSheetSnapshotTests/testBillingDetailsCollection_2222_withDefaults@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodFormElementSnapshotTests/testBillingDetailsUpdateForBankAccount@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodFormElementSnapshotTests/testBillingDetailsUpdateWithFullBillingDetails@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodFormElementSnapshotTests/testBillingDetailsUpdateWithPartialBillingDetails@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetFormFactorySnapshotTest/testCard_AllFields_NoDefaults@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetFormFactorySnapshotTest/testCard_AllFields_WithDefaults@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testAppearance@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.VerticalPaymentMethodListViewControllerSnapshotTest/testSavedCard_ApplePayLink@3x.png
Labels: ship without translations

#5296 Crypto Onramp SDK: Provide Merchant Image to Identity SDK
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Resources/StripeCryptoOnramp.xcassets/Contents.json
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Resources/StripeCryptoOnramp.xcassets/wallet.imageset/Contents.json
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Resources/StripeCryptoOnramp.xcassets/wallet.imageset/Wallet icon (Dark).svg
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Resources/StripeCryptoOnramp.xcassets/wallet.imageset/Wallet icon (Light).svg
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/DownloadManager.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/DownloadManagerTest.swift
Labels: Crypto Onramp SDK

#5283 Crypto Onramp SDK: KYC Info Collection Example
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/KYCInfoView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/RegistrationView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/UI Helpers/FormField.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/UI Helpers/PreviewWrapperView.swift
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/Address.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/KycInfo.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/KYCDataCollectionRequest.swift
Labels: Crypto Onramp SDK

#5297 Crypto Onramp SDK: Adds NSCameraUsageDescription to Example App
  Example/CryptoOnramp Example/CryptoOnramp Example.xcodeproj/project.pbxproj
Labels: Crypto Onramp SDK

#5308 Crypto Onramp SDK: Collect Payment Method
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/UI Helpers/PaymentMethodCardView.swift
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/PaymentMethodPreview.swift
Labels: Crypto Onramp SDK

#5294 Use `ios_crypto_onramp` request surface for CryptoOnrampCoordinator
  Stripe/StripeiOSTests/LinkInlineSignupElementSnapshotTests.swift
  Stripe/StripeiOSTests/LinkSignupViewModelTests.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/LinkRequestSurface.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Services/LinkAccountService.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/SignUp/LinkSignUpViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/ViewModels/LinkInlineSignupViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkController.swift
Labels: Crypto Onramp SDK

#5202 Add `didCancel` parameter to PaymentSheet.FlowController API
  CHANGELOG.md
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+SwiftUI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFlowControllerTests.swift
Labels: modifies public API

#5310 Crypto Onramp SDK: Payment Method Appearance Customization
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-LoaderViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-NewPaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-UpdatePaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-WalletViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-WalletViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/ConfirmButton+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/LinkUI.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Views/LinkMandateView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionWithScannerView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkFlowControllerHelpers.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PayWithNativeLinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/New Payment Method Screen/AddPaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/CardScanButton.swift
Labels: Crypto Onramp SDK

#5318 Crypto Onramp SDK: Apple Pay Integration
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/UI Helpers/PaymentMethodCardView.swift
  StripeCryptoOnramp/README.md
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/ApplePayPaymentStatus.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
Labels: Crypto Onramp SDK

#5313 Fix minor issues with billing details collection in Link
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/LinkPaymentMethodFormElement.swift
Labels: skip dead code check

#5328 Show Link form validation errors inline
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-NewPaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-UpdatePaymentViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/LinkPaymentMethodFormElement.swift
Labels: skip dead code check

#5334 Fix SwiftUI crash
  .periphery.yml
  CHANGELOG.md
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheet+SwiftUI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+SwiftUI.swift
Labels: skip dead code check

#5323 Fix broken link OTP modal constraint
  StripeCore/StripeCore/Source/Categories/UIImage+StripeCore.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/NavigationBar/LinkSheetNavigationBar.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testDefault@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testDefault_BackButton@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testLongTitle@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testTitle@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testTruncatingTitle@3x.png
Labels: skip dead code check

#5336 Tweak ordering in `WalletButtonsView`
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/WalletButtonsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+PaymentMethodAvailabilityTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/WalletButtonsViewTests.swift
Labels: skip dead code check

#5367 Crypto Onramp SDK: Example Backend Crypto APIs Part 1
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/APIClient+Crypto.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/APIClient.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CustomerInformationResponse.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CustomerWalletsResponse.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/PaymentTokensResponse.swift
Labels: Crypto Onramp SDK

#5361 [Onramp] Use Stripe's MoR keys for payment method creation requests
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/UI Helpers/PaymentMethodCardView.swift
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/CreatePaymentTokenRequest.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/CreatePaymentTokenResponse.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/PlatformSettingsResponse.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/STPAPIClient+CryptoOnramp.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkController.swift
  StripePayments/StripePayments/Source/API Bindings/STPAPIClient+Payments.swift
Labels: Crypto Onramp SDK

#5375 Crypto Onramp SDK: Project Localizations Prep
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Resources/Localizations/en.lproj/Localizable.strings
  StripeCryptoOnramp/StripeCryptoOnramp/Resources/StripeCryptoOnramp.xcassets/Contents.json
  StripeCryptoOnramp/StripeCryptoOnramp/Resources/StripeCryptoOnramp.xcassets/wallet.imageset/Contents.json
  StripeCryptoOnramp/StripeCryptoOnramp/Resources/StripeCryptoOnramp.xcassets/wallet.imageset/Wallet icon (Dark).svg
  StripeCryptoOnramp/StripeCryptoOnramp/Resources/StripeCryptoOnramp.xcassets/wallet.imageset/Wallet icon (Light).svg
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripeUICore/StripeUICore/Resources/Localizations/en.lproj/Localizable.strings
  StripeUICore/StripeUICore/Source/Helpers/String+Localized.swift
Labels: ship without translations, Crypto Onramp SDK

#5371 Crypto Onramp SDK: Example Backend Crypto APIs Part 2
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/APIClient+Crypto.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CheckoutRequest.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CheckoutResponse.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CreateOnrampSessionRequest.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CreateOnrampSessionResponse.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/SessionStatusResponse.swift
Labels: Crypto Onramp SDK

#5382 Crypto Onramp SDK: Example App Wallet Selection
  Example/CryptoOnramp Example/CryptoOnramp Example/AttachWalletAddressView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/RegistrationView.swift
Labels: Crypto Onramp SDK

#5388 [Onramp] Clean up `performCheckout` API
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/OnrampSessionResponse.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Internal/API Bindings/STPAPIClient+CryptoOnramp.swift
Labels: Crypto Onramp SDK

#5392 Crypto Onramp SDK: Adds Checkout Demo to Example
  Example/CryptoOnramp Example/CryptoOnramp Example/AttachWalletAddressView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnramp_ExampleApp.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/APIClient+Crypto.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/AuthenticatedUserRequest.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CheckoutResponse.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CreateOnrampSessionResponse.swift
Labels: Crypto Onramp SDK

#5406 opensCardScannerAutomatically API/implementation
  CHANGELOG.md
  CLAUDE.md
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/CustomerSheetUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionWithScannerView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactoryConfig.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/CardScanningView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/TextFieldElement+CardTest.swift
Labels: don't merge, modifies public API

#5424 Fix card scanner layout bug
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/CardScanningView.swift
Labels: skip dead code check

#5427 CryptoOnramp SDK: `performCheckout` Adjustments
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CheckoutResult.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
Labels: Crypto Onramp SDK

#5431 opensCardScannerAutomatically implementation
  CHANGELOG.md
  CLAUDE.md
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/CustomerSheetUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionWithScannerView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactoryConfig.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/CardScanningView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetFlowControllerViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/TextFieldElement+CardTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentSheetFlowControllerViewControllerSnapshotTests/testDirectToCardScan@3x.png
Labels: modifies public API
