Repository stripe/stripe-ios, pull requests merged in 2025-01, with the labels that each got.

#4434 Add automatic_async to PaymentIntent capture method enum
  CHANGELOG.md
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetDeferredValidator.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentIntents/STPPaymentIntent.swift
  StripePayments/StripePayments/Source/Categories/Enums+CustomStringConvertible.swift
Labels: modifies public API

#4440 Cancel taps when the user scrolls
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
Labels: embedded

#4457 Use mobile signup endpoint for verified FC flows
  Example/FinancialConnections Example/FinancialConnections Example.xcodeproj/project.pbxproj
  Example/FinancialConnections Example/FinancialConnections Example/FinancialConnections Example.entitlements
  StripeCore/StripeCore/Source/Attestation/StripeAttest.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkLogin/LinkLoginDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkLogin/LinkLoginViewController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkSignupPane/NetworkingLinkSignupDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkSignupPane/NetworkingLinkSignupViewController.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/EmptyFinancialConnectionsAPIClient.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewModel.swift
Labels: skip dead code check

#4470 Add `dismiss` to ApplePayContext
  CHANGELOG.md
  Stripe/StripeiOSTests/STPApplePayContextFunctionalTest.swift
  StripeApplePay/StripeApplePay/Source/ApplePayContext/STPApplePayContext.swift
Labels: modifies public API

#4444 [1/2] Swift Concurrency migration - Financial Connections API client
  Example/FinancialConnections Example/FinancialConnections Example/Playground/PlaygroundConfiguration.swift
  Example/FinancialConnections Example/FinancialConnections Example/Playground/PlaygroundView.swift
  Example/FinancialConnections Example/FinancialConnections Example/Playground/PlaygroundViewModel.swift
  StripeCore/StripeCore/Source/Connections Bindings/ElementsSessionContext.swift
  StripeFinancialConnections/StripeFinancialConnections.xcodeproj/project.pbxproj
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAsyncAPIClient+Legacy.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAsyncAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Common/HostController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Common/HostViewController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/FinancialConnectionsSheet.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/AccountPicker/AccountPickerDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/AttachLinkedPaymentAccount/AttachLinkedPaymentAccountDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Consent/ConsentDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/InstitutionPicker/InstitutionDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkAccountPicker/LinkAccountPickerDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkLogin/LinkLoginDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/ManualEntry/ManualEntryDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowDataManager.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkLoginWarmup/NetworkingLinkLoginWarmupDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkSignupPane/NetworkingLinkSignupDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkStepUpVerification/NetworkingLinkStepUpVerificationDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkVerification/NetworkingLinkVerificationDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingSaveToLinkVerification/NetworkingSaveToLinkVerificationDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/PartnerAuth/PartnerAuthDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/ResetFlow/ResetFlowDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Shared/NetworkingOTPView/NetworkingOTPDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Success/SuccessDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Web/FinancialConnectionsWebFlowViewController.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/EmptyFinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FinancialConnectionsAPIClientTests.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FinancialConnectionsSessionTests.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FinancialConnectionsSheetTests.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/MockData/FinancialConnectionsSynchronize.json
Labels: skip dead code check

#4479 Link design tweaks
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/Link/back_button.imageset/back_button@3x.png
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/Link/icon_add_bordered.imageset/Contents.json
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/Link/icon_add_bordered.imageset/Frame 1903.svg
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/Link/icon_add_bordered.imageset/icon_add_bordered.png
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/Link/icon_add_bordered.imageset/icon_add_bordered@2x.png
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/Link/icon_add_bordered.imageset/icon_add_bordered@3x.png
  StripePaymentSheet/StripePaymentSheet/Resources/StripePaymentSheet.xcassets/Link/icon_cancel.imageset/icon_cancel@3x.png
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker-AddButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Components/PaymentMethodPicker/LinkPaymentMethodPicker.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/LinkCardEditElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/UIColor+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Views/LinkLegalTermsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.AddPaymentMethodViewControllerSnapshotTests/test_link_mode_does_not_show_checkbox@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkCardEditElementSnapshotTests/testDefault@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkCardEditElementSnapshotTests/testNonDefault@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testDefault@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testDefault_BackButton@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testWithEmailAddress@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testWithEmailAddress_BackButton@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testWithLongEmailAddress@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkNavigationBarSnapshotTests/testWithLongEmailAddress_BackButton@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testEmpty@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testExpanded@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkPaymentMethodPickerSnapshotTests/testUnsupportedBankAccount@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testEmbedded@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testInlineLogin@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testModal@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testModalWithErrorMessage@3x.png
Labels: ship without translations

#4477 Refactor embedded view selection flow
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
Labels: embedded

#4467 Use mobile lookup endpoint for verified FC flows
  Example/FinancialConnections Example/FinancialConnections Example/Info.plist
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAsyncAPIClient+Legacy.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/FinancialConnectionsAsyncAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/Models/FinancialConnectionsSessionManifest.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkLogin/LinkLoginDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/LinkLogin/LinkLoginViewController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkSignupPane/NetworkingLinkSignupDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkSignupPane/NetworkingLinkSignupViewController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkStepUpVerification/NetworkingLinkStepUpVerificationDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingLinkVerification/NetworkingLinkVerificationDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NetworkingSaveToLinkVerification/NetworkingSaveToLinkVerificationDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Shared/NetworkingOTPView/NetworkingOTPDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Shared/NetworkingOTPView/NetworkingOTPView.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/EmptyFinancialConnectionsAPIClient.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FinancialConnectionsAPIClientTests.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FlowRouterTests.swift
Labels: skip dead code check

#4487 Fixed text overlap on Card Scan Screen.
  StripeCardScan/StripeCardScan/Source/CardScan/UI/SimpleScanViewController.swift
Labels: skip dead code check

#4493 Disable Link for merchants using CBF
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+PaymentMethodAvailabilityTest.swift
Labels: card brand filtering

#4491 Fix embedded deferred intent confirmation type
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+DeferredAPI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPApplePayContext+PaymentSheet.swift
Labels: embedded

#4495 Don't assert presentingViewController/delegate are non-nil in Embeddd…
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
Labels: embedded

#4494 Refactor embedded confirm to pass authContext & paymentOption
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetError.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPApplePayContext+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: modifies public API, embedded

#4489 Show blocked brands in CBC dropdown, but block selection
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsCollectionViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/CardSectionElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPCardValidator+BrandFiltering.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/SavedPaymentMethodFormFactory/SavedPaymentMethodFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewModel.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPCardValidator+BrandFilteringTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/UpdatePaymentMethodViewControllerSnapshotTests.swift
  StripePaymentsUI/StripePaymentsUI/Source/Internal/Categories/STPCardBrand+PaymentsUI.swift
  StripePaymentsUI/StripePaymentsUI/Source/Internal/UI/Elements/DropDownFieldElement+CardBrand.swift
  StripeUICore/StripeUICore/Resources/Localizations/en.lproj/Localizable.strings
  StripeUICore/StripeUICore/Source/Elements/DropdownFieldElement.swift
  StripeUICore/StripeUICore/Source/Helpers/String+Localized.swift
  StripeUICore/StripeUICoreTests/Unit/Elements/DropdownFieldElementTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerLightMode_blockedBrands@3x.png
Labels: ship without translations, card brand filtering

#4512 Fix forcing height for flat_with_checkmark saved PM row
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RightAccessoryButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_savedPaymentMethod@3x.png
Labels: embedded

#4510 Add EmbeddedPaymentElementViewModel
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+SwiftUI.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementViewModelTests.swift
Labels: skip dead code check, embedded

#4507 Embedded GA metrics
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripeCore/StripeCore/Source/Analytics/STPAnalyticEvent.swift
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsHelperTest.swift
Labels: embedded

#4514 Embedded update form pm row pt 1
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RightAccessoryButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/VerticalPaymentMethodListViewController.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_rowHeight@3x.png
Labels: ship without translations, embedded
