Repository stripe/stripe-ios, pull requests merged in 2025-09, with the labels that each got.

#5055 Attempt to fix potential race condition in image scanning session's concurrency manager
  StripeIdentity/StripeIdentity/Source/NativeComponents/Coordinators/ImageScanner/ImageScanningConcurrencyManager.swift
Labels: Identity

#5445 Consume new flag to disable bank tab
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+PaymentMethodAvailabilityTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsExperimentsTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetPaymentMethodTypeTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/Resources/MockFiles/elements_sessions_paymentMethod_200.json
  StripePayments/StripePayments/Source/API Bindings/Models/Shared/LinkSettings.swift
Labels: modifies public API

#5460 Add STPConfirmationTokenParams
  Stripe/Stripe.xcodeproj/project.pbxproj
  Stripe/StripeiOSTests/STPConfirmationTokenParamsTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetDeferredValidatorTests.swift
  StripePayments/StripePayments.xcodeproj/project.pbxproj
  StripePayments/StripePayments/Source/API Bindings/Models/ConfirmationTokens/STPConfirmationTokenParams.swift
  StripePayments/StripePayments/Source/API Bindings/Models/Shared/STPPaymentMethodOptions.swift
Labels: confirmation tokens

#5475 Create ConfirmationTokens with STPConfirmationTokenParams
  Stripe/Stripe.xcodeproj/project.pbxproj
  Stripe/StripeiOSTests/STPAPIClientConfirmationTokensTest.swift
  StripeCore/StripeCore/Source/Analytics/STPAnalyticEvent.swift
  StripePayments/StripePayments.xcodeproj/project.pbxproj
  StripePayments/StripePayments/Source/API Bindings/Models/ConfirmationTokens/STPConfirmationToken.swift
  StripePayments/StripePayments/Source/API Bindings/STPAPIClient+Payments.swift
  StripePayments/StripePayments/Source/Helpers/STPBlocks.swift
  StripePayments/StripePayments/Source/Internal/Analytics/STPAnalyticsClient+Payments.swift
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAdditionalPaymentUserAgentValues/0000_post_v1_confirmation_tokens.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAttachedPaymentMethod/0000_post_create_ephemeral_key.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAttachedPaymentMethod/0001_post_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAttachedPaymentMethod/0002_post_v1_payment_methods_pm_1S3euVFY0qyl6XeWdNqxWFuk_attach.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAttachedPaymentMethod/0003_post_create_customer_session_cs.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAttachedPaymentMethod/0004_get_v1_elements_sessions.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAttachedPaymentMethod/0005_post_v1_confirmation_tokens.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithAttachedPaymentMethod/0006_post_v1_elements_payment_methods_pm_1S3euVFY0qyl6XeWdNqxWFuk_detach.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithExistingPaymentMethod/0000_post_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithExistingPaymentMethod/0001_post_v1_confirmation_tokens.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithInvalidCard/0000_post_v1_confirmation_tokens.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithPaymentMethodData/0000_post_v1_confirmation_tokens.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithSetAsDefaultPaymentMethod/0000_post_v1_confirmation_tokens.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPAPIClientConfirmationTokensTest/testCreateConfirmationTokenWithShippingAndMandateData/0000_post_v1_confirmation_tokens.tail
Labels: confirmation tokens

#5301 Fix the inability to scroll page/scroll while continue option is disabled in consent screen in Identity
  StripeIdentity/StripeIdentity/Source/NativeComponents/ViewControllers/BiometricConsentViewController.swift
  Tests/ReferenceImages_64/StripeIdentityTests.BiometricConsentViewControllerSnapshotTest/testViewIsConfiguredFromAPIAndReturnError_@3x.png
  Tests/ReferenceImages_64/StripeIdentityTests.BiometricConsentViewControllerSnapshotTest/testViewIsConfiguredFromAPINoConsentHeaderAndReturnError_@3x.png
Labels: Identity

#5525 Crypto Onramp SDK: Fixes ProgressView Legibility in Dark Mode (Example App)
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnramp_ExampleApp.swift
Labels: Crypto Onramp SDK

#5523 Crypto Onramp SDK: Begins Separating Steps in Example App Flow
  Example/CryptoOnramp Example/CryptoOnramp Example.xcodeproj/project.pbxproj
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampFlowCoordinator.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/IdentityVerificationView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/KYCInfoView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/RegistrationView.swift
Labels: Crypto Onramp SDK

#5526 Crypto Onramp SDK: Updates Default OAuth Scopes in Example App to Include `kyc.status:read`
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/APIClient+Auth.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/AuthenticatedUserRequest.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/OAuthScope.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/RegistrationView.swift
Labels: Crypto Onramp SDK

#5555 Crypto Onramp SDK: Moves Wallet Selection to Own Screen in Example App
  Example/CryptoOnramp Example/CryptoOnramp Example/AttachWalletAddressView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/AuthenticatedView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampFlowCoordinator.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/Example API Bindings/CustomerWalletsResponse.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/IdentityVerificationView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/WalletSelectionView.swift
Labels: Crypto Onramp SDK

#5550 Add ConfirmationTokens public API
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetIntentConfiguration.swift
Labels: confirmation tokens

#5534 Fallback to web auth flow if we can't authenticate the Link user natively
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/STPAPIClient+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/SupportedVerificationTypes.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-VerifyAccountViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationWebFallbackController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/PayWithNativeLinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/LinkInlineVerificationView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkButtonSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/LinkStubs.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+APIMockTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLinkAccountTests.swift
Labels: skip dead code check

#5521 Passive captcha test + playground switches
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundController.swift
  Example/PaymentSheet Example/PaymentSheet Example/CustomerSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
  StripePayments/StripePayments/Source/Captcha/PassiveCaptcha.swift
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPassiveCaptchaDoesNotBlockLoad/0000_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetLoaderTest/testPassiveCaptchaDoesNotBlockLoad/0001_get_v1_elements_sessions.tail
  StripePayments/StripePaymentsTests/Captcha/PassiveCaptchaTests.swift
Labels: skip dead code check

#5607 Add in helper to convert address to shipping params
  StripePaymentSheet/StripePaymentSheet/Source/Categories/AddressDetails+STPAddress.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAddressTests.swift
Labels: skip dead code check, confirmation tokens

#5614 Refactor validator to be less tied to a payment method
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+DeferredAPI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetDeferredValidator.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetDeferredValidatorTests.swift
Labels: confirmation tokens

#5634 Allow reuse of mandate data generation
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentIntents/STPPaymentIntentParams.swift
  StripePayments/StripePayments/Source/API Bindings/Models/SetupIntents/STPSetupIntentConfirmParams.swift
Labels: confirmation tokens

#5613 Confirm Apple Pay with ConfirmationTokens
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/STPApplePayContext+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPApplePayContext+PaymentSheetTest.swift
Labels: confirmation tokens

#5636 Crypto Onramp SDK: Enforces Verified Link Account Before Collecting Card/Bank Info
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator+Error.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
Labels: Crypto Onramp SDK
