Repository stripe/stripe-ios, pull requests merged in 2025-02, with the labels that each got.

#4529 Fix embedded bug where update didnt set form VC delegate and clean up…
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedFormViewControllerSnapshotTests.swift
Labels: embedded

#4526 Refactor VerticalPaymentMethodListSelection -> RowButton.Type
  StripeCore/StripeCore/Source/Categories/NSArray+Stripe.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/VerticalPaymentMethodListViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementViewModelTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/VerticalPaymentMethodListViewControllerSnapshotTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/VerticalPaymentMethodListViewControllerTest.swift
Labels: modifies public API, embedded

#4535 Fix keeping row selection across updates even when form is invalid
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
Labels: embedded

#4520 UIViewRepresentable for embedded
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+SwiftUI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementContainerView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedViewRepresentable.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/BottomSheetViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedViewRepresentableSnapshotTest.swift
  StripeUICore/StripeUICore/Source/Categories/UIViewController+StripeUICore.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatWithCheckmark_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_second_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_third_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__before_height_change@3x.png
Labels: embedded

#4538 Set 'Change >' and sublabel to selected embedded form rows
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPCardBrandChoice.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPElementsSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentOption+Images.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/FormSpec/FormSpecProvider.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RightAccessoryButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePayments/StripePayments/Source/Helpers/STPCardValidator.swift
  StripeUICore/StripeUICore/Source/Elements/DropdownFieldElement.swift
  StripeUICore/StripeUICore/Source/Elements/Factories/Address/AddressSpecProvider.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatCheckmarkWithCompletionHandler__afterpay@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatCheckmarkWithCompletionHandler__card@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatCheckmarkWithCompletionHandler__us_bank_account_canceled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatCheckmarkWithCompletionHandler__us_bank_account_continue@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler_@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__afterpay@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__card@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__us_bank_account_canceled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__us_bank_account_continue@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_floatingButtonWithCompletionHandler__afterpay@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_floatingButtonWithCompletionHandler__card@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_floatingButtonWithCompletionHandler__us_bank_account_canceled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_floatingButtonWithCompletionHandler__us_bank_account_continue@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_largeFont@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_largeFont@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_second_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_third_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__before_height_change@3x.png
Labels: skip dead code check, embedded

#4544 Deflake SwiftUI snapshot test
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedViewRepresentableSnapshotTest.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_second_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_third_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__before_height_change@3x.png
Labels: embedded

#4542 Keep track of selected row button change state and persist it across updates
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RightAccessoryButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testRetainsChangeButtonAcrossUpdateWithCompletionHandler_@3x.png
Labels: embedded

#4539 Add SwiftUI example
  Example/PaymentSheet Example/PaymentSheet Example.xcodeproj/project.pbxproj
  Example/PaymentSheet Example/PaymentSheet Example/ExampleSwiftUIEmbeddedPaymentElement.swift
  Example/PaymentSheet Example/PaymentSheet Example/Resources/Base.lproj/Main.storyboard
  Example/PaymentSheet Example/PaymentSheet Example/ViewController.swift
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
Labels: embedded

#4547 Fix bug after updating selected CBC card
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/SavedPaymentMethodRowButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/SavedPaymentMethodRowButtonTests.swift
Labels: embedded

#4516 Disable embedded UI during confirmation
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
Labels: embedded

#4553 Update embedded example
  Example/PaymentSheet Example/PaymentSheet Example/ExampleEmbeddedElementCheckoutViewController.swift
Labels: embedded

#4556 Fix a bug on setting presentingViewController in SwiftUI
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedViewRepresentable.swift
Labels: embedded

#4558 Use formatted phone number in Link
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/LinkStubs.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+APIMockTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLinkAccountTests.swift
  StripePaymentSheet/StripePaymentSheetTests/Resources/MockFiles/consumers_lookup_200.json
Labels: skip dead code check

#4557 Refactor flatWithRadio into standalone view
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/RadioButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButtonContent.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButtonFlatWithRadioView.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testRetainsChangeButtonAcrossUpdateWithCompletionHandler_@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__afterpay@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__card@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__us_bank_account_canceled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentElementSnapshotTests/testShowsChangeButton_flatRadioWithCompletionHandler__us_bank_account_continue@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_largeFont@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_promoBadge@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_flatRadio_rowHeight@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_second_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__after_third_height_change@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedViewRepresentableSnapshotTest/testEmbeddedPaymentElementViewWithCompletionHandler__before_height_change@3x.png
Labels: embedded

#4559 Fail confirm if update is in progress
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetError.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: modifies public API, embedded

#4572 Revert "Fail confirm if update is in progress"
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetError.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: modifies public API

#4545 Add public style field for bank account collector API
  CHANGELOG.md
  StripeCore/StripeCore.xcodeproj/project.pbxproj
  StripeCore/StripeCore/Source/Connections Bindings/ElementsSessionContext.swift
  StripeCore/StripeCore/Source/Connections Bindings/FinancialConnectionsSDKInterface.swift
  StripeCore/StripeCore/Source/Connections Bindings/FinancialConnectionsStyle.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/FinancialConnectionsSDK/FinancialConnectionsSDKImplementation.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/ElementsSessionContext+Extensions.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerAddPaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkPaymentController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentMethodFormViewController.swift
  StripePayments/StripePayments.xcodeproj/project.pbxproj
  StripePayments/StripePayments/Source/Helpers/STPBankAccountCollector.swift
  StripePayments/StripePayments/Source/Helpers/STPBankAccountCollectorUserInterfaceStyle.swift
  StripePayments/StripePayments/Source/Internal/Helpers/ConnectionsSDKAvailability.swift
Labels: modifies public API

#4561 Update FC Configuration to being immutable and public
  Example/FinancialConnections Example/FinancialConnections Example/Playground/PlaygroundViewModel.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/FinancialConnectionsSDK/FinancialConnectionsSDKImplementation.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/FinancialConnectionsSheet.swift
  StripeFinancialConnections/StripeFinancialConnectionsTests/FinancialConnectionsSheetTests.swift
Labels: modifies public API

#4573 Update mandate before notifying delegate
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
Labels: embedded

#4551 Throw an error if the user calls update with a form presented
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetError.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: modifies public API, embedded

#4587 Fix embedded nil payment option bug
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetError.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
Labels: ship without translations, modifies public API, embedded

#4585 Set as default API
  Stripe/StripeiOSTests/HostedSurfaceTest.swift
  StripeCore/StripeCore/Resources/Localizations/en.lproj/Localizable.strings
  StripeCore/StripeCore/Source/Analytics/STPAnalyticEvent.swift
  StripeCore/StripeCore/Source/Categories/NSError+Stripe.swift
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/SavedPaymentMethodManager.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSessionAdapter/CustomerSessionAdapter.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheetDataSource.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/HostedSurface.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewModel.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/CustomerSheet/CustomerSheetTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+APITest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/UpdatePaymentMethodViewControllerSnapshotTests.swift
  StripePayments/StripePayments/Source/API Bindings/STPAPIClient+Payments.swift
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSession/0000_post_create_ephemeral_key.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSession/0001_post_create_customer_session_cs.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSession/0002_post_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSession/0003_post_v1_payment_methods_pm_1QuIHMFY0qyl6XeWtYmExRMK_attach.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSession/0004_post_v1_elements_customers_cus_Rnu5GjTsKpmIuM_set_default_payment_method.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSession/0005_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSession/0006_get_v1_elements_sessions.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSessionCustomerSheetDataSource/0000_post_create_ephemeral_key.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSessionCustomerSheetDataSource/0001_post_create_customer_session_cs.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSessionCustomerSheetDataSource/0002_post_v1_payment_methods.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSessionCustomerSheetDataSource/0003_post_v1_payment_methods_pm_1QuIdnFY0qyl6XeWD4Z8ZTds_attach.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSessionCustomerSheetDataSource/0004_get_v1_elements_sessions.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSessionCustomerSheetDataSource/0005_post_v1_elements_customers_cus_RnuSyHZ2OIYt62_set_default_payment_method.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/PaymentSheetAPITest/testSetAsDefaultCustomerSessionCustomerSheetDataSource/0006_get_v1_elements_sessions.tail
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerDefaultCard@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerDefaultUSBankAccount@3x.png
Labels: skip dead code check

#4580 Cancel confirm if update in flight
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedUpdateContext.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: modifies public API

#4563 [Connect] Add message handling for closing and mobile inputs.
  StripeConnect/StripeConnect.xcodeproj/project.pbxproj
  StripeConnect/StripeConnect/Source/Internal/Webview/ConnectComponentWebViewController.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/MessageHandlers/CloseWebView.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/MessageSenders/MobileInputReceivedSender.swift
  StripeConnect/StripeConnectTests/Internal/Webview/MessageHandlers/CloseWebViewMessageHandlerTests.swift
  StripeConnect/StripeConnectTests/Internal/Webview/MessageSenders/MobileInputReceivedSenderTests.swift
Labels: skip dead code check

#4601 Add error screen for no connectivity situations.
  StripeConnect.podspec
  StripeConnect/StripeConnect.xcodeproj/project.pbxproj
  StripeConnect/StripeConnect/Resources/Localizations/bg-BG.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/ca-ES.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/cs-CZ.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/da.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/de.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/el-GR.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/en-GB.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/en.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/es-419.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/es.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/et-EE.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/fi.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/fil.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/fr-CA.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/fr.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/hr.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/hu.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/id.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/it.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/ja.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/ko.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/lt-LT.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/lv-LV.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/ms-MY.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/mt.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/nb.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/nl.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/nn-NO.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/pl-PL.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/pt-BR.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/pt-PT.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/ro-RO.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/ru.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/sk-SK.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/sl-SI.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/sv.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/tr.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/vi.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/zh-HK.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/zh-Hans.lproj/Localizable.strings
  StripeConnect/StripeConnect/Resources/Localizations/zh-Hant.lproj/Localizable.strings
  StripeConnect/StripeConnect/Source/Internal/Webview/ConnectComponentWebViewController.swift
  StripeConnect/StripeConnect/Source/Internal/Webview/WebViewErrorScreen.swift
  StripeConnect/StripeConnect/Source/Localization/STPLocalizedString.swift
  StripeConnect/StripeConnect/Source/Localization/StripeConnectBundleLocator.swift
  modules.yaml
Labels: ship without translations
