Repository stripe/stripe-ios, pull requests merged in 2025-03, with the labels that each got.

#4618 Disable UI during confirmation (SwiftUI example)
  Example/PaymentSheet Example/PaymentSheet Example/ExampleSwiftUIEmbeddedPaymentElement.swift
Labels: embedded

#4627 Add draft CPM API
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
Labels: skip dead code check, custom payment methods

#4633 Add CPM toggle to playground
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
Labels: custom payment methods

#4636 Refactor update payment method to return Result
  StripeCore/StripeCore/Resources/Localizations/en.lproj/Localizable.strings
  StripeCore/StripeCore/Source/Categories/NSError+Stripe.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsCollectionViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController.swift
  StripePayments/StripePayments/Source/API Bindings/STPAPIClient+Payments.swift
Labels: ship without translations

#4623 Ensure analytics sent
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  Stripe/StripeiOSTests/HostedSurfaceTest.swift
  StripeCore/StripeCore/Source/Analytics/STPAnalyticEvent.swift
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/STPAnalyticsClient+CustomerSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Elements/CardSection/HostedSurface.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsHelperTest.swift
Labels: ship without translations

#4641 show disabled checkbox when it is the default pm
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheetUITest.swift
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Categories/String+Localized.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController+Configuration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerDefaultCard@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerDefaultUSBankAccount@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerSetAsDefaultSEPADebit@3x.png
Labels: ship without translations

#4652 Add CPMs to mpe_config analytic payload
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsHelperTest.swift
Labels: custom payment methods

#4663 Improve embedded mandate animation
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Views/SimpleMandateTextView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_floating_withMandateProviderAttributedText@3x.png
Labels: embedded

#4662 Create common type for EPMs and CPMs
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ExternalPaymentOption.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+API.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/ExternalPaymentOptionTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetExternalPaymentMethodTests.swift
Labels: skip dead code check, custom payment methods

#4682 Improve embedded "Change >" animation
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentMethodsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
Labels: embedded

#4644 Add support for id_consent_content pane
  StripeFinancialConnections/StripeFinancialConnections.xcodeproj/project.pbxproj
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/Models/FinancialConnectionsGenericInfoScreen.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/Models/FinancialConnectionsIDConsentContent.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/Models/FinancialConnectionsSelectInstitution.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/API Bindings/Models/FinancialConnectionsSessionManifest.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Analytics/FinancialConnectionsAnalyticsClient.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Consent/ConsentLogoView.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/IDConsentContent/IDConsentContentDataSource.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/IDConsentContent/IDConsentContentViewController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/InstitutionPicker/InstitutionPickerViewController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowController.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/NativeFlowDataManager.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Shared/GenericInfoScreen/GenericInfoFooterView.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Shared/PaneLayoutView/PaneLayoutView+Extensions.swift
  StripeFinancialConnections/StripeFinancialConnections/Source/Native/Shared/RoundedLogoView.swift
Labels: skip dead code check

#4679 Update colors of text on RowButton for flat styles
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.EmbeddedPaymentMethodsViewSnapshotTests/testEmbeddedPaymentMethodsView_withMandateProviderAttributedText_withInitialSelection_withAppearance@3x.png
Labels: embedded

#4685 [FCLite] Add interface, models, and API client
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/API Client/FCLiteApiClient.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/FinancialConnectionsLite.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Models/FCLiteManifest.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Models/FCLiteSession.swift
Labels: skip dead code check

#4700 Fix embedded not showing forms after updates
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheetUITest/EmbeddedUITest.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
Labels: embedded

#4661 Don't select form payment option if no previous selection
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+Internal.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Labels: embedded

#4687 [FCLite] Implement auth flow and container view controllers
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/URL+Extensions.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Controllers/FCLiteAuthFlowViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Controllers/FCLiteContainerViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/FinancialConnectionsLite.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Helpers/FCLiteColor.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Helpers/FCLiteError.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Helpers/FCLiteErrorView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Helpers/FCLiteModalPresentationWrapper.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/FC Lite/Models/FCLiteManifest.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/ACH/InstantDebitsOnlyFinancialConnectionsAuthManager.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/FCLiteAuthFlowViewControllerTests.swift
Labels: skip dead code check

#4690 Add `LinkConfiguration` to PaymentSheet
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentElementConfiguration.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+PaymentMethodAvailabilityTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetPaymentMethodTypeTest.swift
Labels: modifies public API

#4730 Update CPM API to match API review result
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Analytics/PaymentSheetAnalyticsHelper.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/STPAPIClient+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ExternalPaymentOption.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetConfiguration.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/ExternalPaymentOptionTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsHelperTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLoaderTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPAPIClient+PaymentSheetTest.swift
Labels: custom payment methods
