Repository stripe/stripe-ios, pull requests merged in 2025-05, with the labels that each got.

#4851 GA embedded
  CHANGELOG.md
  Example/PaymentSheet Example/PaymentSheet Example/AppearancePlaygroundView.swift
  Example/PaymentSheet Example/PaymentSheet Example/EmbeddedPlaygroundViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/ExampleEmbeddedElementCheckoutViewController.swift
  Example/PaymentSheet Example/PaymentSheet Example/ExampleSwiftUIEmbeddedPaymentElement.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement+SwiftUI.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedPaymentElementDelegate.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedFormViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementViewModelTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentMethodsViewTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedViewRepresentableSnapshotTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/FormMandateProviderTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodRowButtonSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetAnalyticsHelperTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/VerticalSavedPaymentMethodsViewControllerSnapshotTests.swift
Labels: modifies public API, embedded

#4861 Render Link payment methods in SPM screens
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Categories/STPPaymentMethod+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPElementsSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentMethodType.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentOption+Images.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+PaymentMethodAvailability.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetLoader.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentMethodCollectionView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/SavedPaymentMethodRowButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/SavedPaymentMethodFormFactory/SavedPaymentMethodFormFactory+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/SavedPaymentMethodFormFactory/SavedPaymentMethodFormFactory.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButtonFloating.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/VerticalPaymentMethodListViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController+Configuration.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodRowButtonSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/UpdatePaymentMethodViewControllerSnapshotTests.swift
  StripePayments/StripePayments/Source/API Bindings/Models/PaymentMethods/STPPaymentMethod.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testPaymentMethodRowButton_newPaymentMethod_linkType_unselected@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerLink_darkMode@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.UpdatePaymentMethodViewControllerSnapshotTests/test_UpdatePaymentMethodViewControllerLink_lightMode@3x.png
Labels: skip dead code check

#4880 [LINK_MOBILE-157] Link verification UI tweaks
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/Button+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Extensions/UIColor+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/LinkUI.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView-Header.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView-LogoutView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Verification/LinkVerificationViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/ButtonLinkSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testBordered@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testBordered_Disabled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testBordered_Highlighted@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testBordered_Loading@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testPlain@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testPlain_Disabled@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testPlain_Highlighted@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.ButtonLinkSnapshotTests/testPlain_Loading@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testEmbedded@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testInlineLogin@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testModal@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkVerificationViewSnapshotTests/testModalWithErrorMessage@3x.png
Labels: ship without translations

#4878 [LINK_MOBILE-162] Link signup screen button tweaks
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Controllers/PayWithLinkViewController-SignUpViewModel.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkSignUpViewControllerSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/PayWithLinkTestHelpers.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/PayWithLinkViewController-WalletViewModelTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkSignUpViewControllerSnapshotTests/testEmptyViewAndReturnError_@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.LinkSignUpViewControllerSnapshotTests/testWithEmailAndReturnError_@3x.png
Labels: ship without translations

#4899 Basic implementation for WalletButtonsView
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/WalletButtonsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/WalletButtonsViewSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.WalletButtonsViewSnapshotTests/testWalletButtonsView@3x.png
Labels: skip dead code check

#4917 Get WalletsButtonView order from elements/sessions
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPElementsSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/WalletButtonsView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/WalletButtonsViewSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/WalletButtonsViewTests.swift
Labels: skip dead code check

#4937 Add default opt-in for inline Link signup
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlayground.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetTestPlaygroundSettings.swift
  Example/PaymentSheet Example/PaymentSheet Example/PlaygroundController.swift
  Stripe/StripeiOSTests/LinkInlineSignupElementSnapshotTests.swift
  Stripe/StripeiOSTests/LinkSignupViewModelTests.swift
  StripePaymentSheet/StripePaymentSheet.xcodeproj/project.pbxproj
  StripePaymentSheet/StripePaymentSheet/Resources/Localizations/en.lproj/Localizable.strings
  StripePaymentSheet/StripePaymentSheet/Source/Helpers/PaymentSheetLinkAccount.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/v1-elements-sessions/STPElementsSession.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkDefaultOptInView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkInlineSignupElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkInlineSignupView-CheckboxElement.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Elements/InlineSignup/LinkInlineSignupView.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/ViewModels/LinkInlineSignupViewModel.swift
  StripePaymentSheet/StripePaymentSheet/Source/Internal/Link/Views/LinkLegalTermsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheet+Link.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory+Card.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFormFactory/PaymentSheetFormFactory.swift
  StripeUICore/StripeUICore/Source/Elements/Checkbox/CheckboxButton.swift
  Tests/ReferenceImages_64/StripeiOS_Tests.LinkInlineSignupElementSnapshotTests/testDefaultOptIn_fully_preFilled@3x.png
  Tests/ReferenceImages_64/StripeiOS_Tests.LinkInlineSignupElementSnapshotTests/testDefaultOptIn_fully_preFilled_longEmail@3x.png
  Tests/ReferenceImages_64/StripeiOS_Tests.LinkInlineSignupElementSnapshotTests/testDefaultOptIn_partially_preFilled@3x.png
  Tests/ReferenceImages_64/StripeiOS_Tests.LinkInlineSignupElementSnapshotTests/testDefaultState_textFieldsOnly@3x.png
  Tests/ReferenceImages_64/StripeiOS_Tests.LinkInlineSignupElementSnapshotTests/testExpandedState_nonUS_preFilled_textFieldsOnly@3x.png
  Tests/ReferenceImages_64/StripeiOS_Tests.LinkInlineSignupElementSnapshotTests/testExpandedState_nonUS_textFieldsOnly@3x.png
  Tests/ReferenceImages_64/StripeiOS_Tests.LinkInlineSignupElementSnapshotTests/testExpandedState_textFieldsOnly@3x.png
Labels: ship without translations, skip dead code check

#4954 Use NSDirectionalEdgeInsets for formInsets API
  Example/PaymentSheet Example/PaymentSheet Example/AppearancePlaygroundView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/AddressViewController/AddressViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerAddPaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsCollectionViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/CustomerSheet/CustomerSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Embedded/EmbeddedFormViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/New Payment Method Screen/AddPaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/New Payment Method Screen/PaymentMethodTypeCollectionView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentMethodCollectionView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/SavedPaymentOptionsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Saved Payment Method Screen/Vertical Saved Payment Method Screen/VerticalSavedPaymentMethodsViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/AutoComplete/AutoCompleteViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/BottomSheetViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/CVCReconfirmationViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetFlowControllerViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetVerticalViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PaymentSheetViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/PollingViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/SepaMandateViewController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/ViewControllers/UpdatePaymentMethodViewController.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/CustomerSheetSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetSnapshotTests.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/STPFixtures+PaymentSheet.swift
Labels: modifies public API
