Repository stripe/stripe-ios, changes with the owners that CODEOWNERS names for each.
All owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers, @stripe/ios-payments-reviewers, @stripe/ios-connect-reviewers

CODEOWNERS:

# By default, allow reviews from all reviewers
* @stripe/ios-sdk-reviewers @stripe/ios-sdk-non-core-reviewers

# For payments, automatically request reviews from @ios-payments-reviewers, allow reviews from other reviewers
*/StripePaymentSheet @stripe/ios-payments-reviewers @stripe/ios-sdk-reviewers @stripe/ios-sdk-non-core-reviewers
*/StripePayments @stripe/ios-payments-reviewers @stripe/ios-sdk-reviewers @stripe/ios-sdk-non-core-reviewers
*/StripePaymentsUI @stripe/ios-payments-reviewers @stripe/ios-sdk-reviewers @stripe/ios-sdk-non-core-reviewers
*/StripeApplePay @stripe/ios-payments-reviewers @stripe/ios-sdk-reviewers @stripe/ios-sdk-non-core-reviewers
*/Stripe3DS2 @stripe/ios-payments-reviewers @stripe/ios-sdk-reviewers @stripe/ios-sdk-non-core-reviewers
*/StripeConnect @stripe/ios-connect-reviewers @stripe/ios-sdk-reviewers @stripe/ios-sdk-non-core-reviewers

Crypto Onramp SDK: Additional Auth APIs (#5203)
  StripeCryptoOnramp/StripeCryptoOnramp.xcodeproj/project.pbxproj
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/CryptoOnrampCoordinator.swift
  StripeCryptoOnramp/StripeCryptoOnramp/Source/Components/VerificationResult.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Begins building the view
  Example/CryptoOnramp Example/CryptoOnramp Example.xcodeproj/project.pbxproj
  Example/CryptoOnramp Example/CryptoOnramp Example/ContentView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnramp_ExampleApp.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

breaking this function out
  StripeIdentity/StripeIdentity.xcodeproj/project.pbxproj
  StripeIdentity/StripeIdentity/Source/Helpers/String+IDType.swift
  StripeIdentity/StripeIdentity/Source/NativeComponents/ViewControllers/DocumentCaptureViewController+Strings.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

attempt to get around lint error
  Stripe/StripeiOSTests/STPPaymentHandlerStubbedMockedFilesTests.swift
  Testers/IntegrationTester/IntegrationTester/Source/Models/BackendModel.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Simplify call-site
  Example/PaymentSheet Example/PaymentSheet Example/ExampleWalletButtonsView.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetFlowController.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers, @stripe/ios-payments-reviewers

more stubbed tests
  Stripe/StripeiOSTests/STPAPIClientStubbedTest.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Fix linter
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheet+APIMockTest.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentSheetLinkAccountTests.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Remove dead code
  StripePaymentSheet/StripePaymentSheet/Source/Internal/API Bindings/Link/ConsumerSession+PublishableKey.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Link/LinkController.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/WalletButtonsView/LinkInlineVerificationView.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/Link/LinkInlineVerificationViewSnapshotTests.swift
Owners: @stripe/ios-payments-reviewers, @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Bump to iOS 15, enforce new enum cases are added to a section
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetExampleApp.swift
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetExampleAppRootView.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Scroll to address example
  Example/PaymentSheet Example/PaymentSheetUITest/PaymentSheet+AddressTests.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Modernize root view in PaymentSheet Example
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetExampleAppRootView.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Include AddressCollection example
  Example/PaymentSheet Example/PaymentSheet Example/PaymentSheetExampleAppRootView.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

added other unchanging fields
  Stripe/StripeiOSTests/STPAPIClientStubbedTest.swift
  Stripe/StripeiOSTests/STPAPIClientTest.swift
  StripeCore/StripeCore/Source/API Bindings/STPAPIClient.swift
  StripePayments/StripePaymentsTestUtils/STPNetworkStubbingTestCase.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

change var to let
  StripeCore/StripeCore/Source/API Bindings/STPAPIClient.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

update stub tests
  Stripe/StripeiOSTests/STPAPIClientStubbedTest.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

WIP
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
  Example/CryptoOnramp Example/CryptoOnramp Example/PrimaryButtonStyle.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

subtitle also using the id types
  StripeIdentity/StripeIdentity/Resources/Localizations/en.lproj/Localizable.strings
  StripeIdentity/StripeIdentity/Source/Helpers/String+Localized.swift
  StripeIdentity/StripeIdentity/Source/NativeComponents/ViewControllers/DocumentCaptureViewController+Strings.swift
  StripeIdentity/StripeIdentity/Source/NativeComponents/ViewControllers/DocumentCaptureViewController.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

rerecord
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentIntentFunctionalTest/testConfirmPaymentIntentWithShippingDetailsSucceeds/0000_post_create_payment_intent.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentIntentFunctionalTest/testConfirmPaymentIntentWithShippingDetailsSucceeds/0001_post_v1_payment_intents_pi_3RVwDLFY0qyl6XeW0twDZhh0_confirm.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentIntentFunctionalTest/testConfirmPaymentIntentWithShippingDetailsSucceeds/0001_post_v1_payment_intents_pi_3RoVa2FY0qyl6XeW03Nr6US1_confirm.tail
  StripePayments/StripePaymentsTestUtils/Resources/recorded_network_traffic/STPPaymentMethodAfterpayClearpayParamsTest/testCreateAfterpayClearpayPaymentMethod/0000_post_v1_payment_methods.tail
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Updates dev team
  Example/CryptoOnramp Example/CryptoOnramp Example.xcodeproj/project.pbxproj
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Better error formatting and uses the loading interface
  Example/CryptoOnramp Example/CryptoOnramp Example/CryptoOnrampExampleView.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

pr feedback
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
Owners: @stripe/ios-payments-reviewers, @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Fix flakey testConfirmHandlesInflightUpdateThatFails
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/EmbeddedPaymentElementTest.swift
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers

Add customizable embedded row subtitle font (#5211)
  CHANGELOG.md
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/PaymentSheetAppearance.swift
  StripePaymentSheet/StripePaymentSheet/Source/PaymentSheet/Vertical Main Screen/RowButton.swift
  StripePaymentSheet/StripePaymentSheetTests/PaymentSheet/PaymentMethodRowButtonSnapshotTests.swift
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_flatWithCheckmark_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_flatWithDisclosure_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_flatWithRadio_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_floatingButton_custom_italic_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleAndSubtitleFont_non_embedded_unaffected@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithCheckmark_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithDisclosure_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_flatWithRadio_custom_italic_title_font@3x.png
  Tests/ReferenceImages_64/StripePaymentSheetTests.PaymentMethodRowButtonSnapshotTests/testAppearanceEmbeddedPaymentElementRowTitleFont_floatingButton_custom_italic_title_font@3x.png
Owners: @stripe/ios-sdk-reviewers, @stripe/ios-sdk-non-core-reviewers, @stripe/ios-payments-reviewers
